
.sequencer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.grid-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}