
.grid {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
}

.grid-square {
  width: 40px;
  height: 40px;
  background-color: #eaeaea;
  border: 1px solid #ccc;
  transition: background-color 0.2s;
}

.grid-square.active {
  background-color: #85a1a8;
}

.current-step {
  background-color: #b68d8d; 
}
